
.activeText {
    color: green;
    font-weight: bold;
    font-size: 20px;
}

.inActiveText {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.obligatorio {
    color: red;
    font-size: 25px;
}

button.btn-success {
    color: black;
    font-weight: bold;
}

.ng-valid[required], .ng-valid.required {
    border-left: 20px solid #00bc8c;
}

.ng-invalid:not(form) {
    border-left: 20px solid red;
}

button:disabled {
    cursor: auto;
}
