<div class="container">
    <app-navigation></app-navigation>
    <app-navigation-jug></app-navigation-jug>
</div>

<div class="col-md-3" *ngFor="let jugador of jugadores">
    <div class="card text-center">
        <a [routerLink]="['/jugadores/edit', jugador.jug_id]" class="btn btn-info btn-block fa fa-edit"></a>
        <button class="btn btn-danger" (click)="deleteJugador(jugador.jug_id)">
            <i class="fa fa-trash"></i>
        </button>
        <img class="card-img-top" [src]="jugador.jug_imagen == '' ? '/assets/noimage.png' : jugador.jug_imagen" alt="" style="height: 130px;">
        <div class="card-body">
            <h6 class="card-header">{{jugador.jug_nombre}}</h6>
        </div>
        <div class="card-body">
            <p class="card-text">{{jugador.jug_rut}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{jugador.jug_fecha_nac | date: 'dd-MM-yyyy'}}</li>
        </ul>
        <div class="card-footer text-muted">
            {{jugador.jug_estado_en_club ? 'Activo' : 'Inactivo'}}
        </div>
    </div>
</div>