<div class="container">
    <div class="col-md-12">
        <app-navigation></app-navigation>
        <app-navigation-jug></app-navigation-jug>
    </div>

    <div class="col-md-12">
        <div class="form-group col-md-4">
            <h3 *ngIf="modeTable">Modo Tabla</h3>
            <h3 *ngIf="!modeTable">Modo Card</h3>
        </div>
        <div class="form-group col-md-4 offset-md-11" style="top: -45px;">
            <label class="switch">
                <input type="checkbox" (click)="cambiarModoTabla()">
                <span class="slider"></span>
            </label>
        </div>
    </div>

    <div class="col-md-12">
        <table *ngIf="modeTable" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Rut</th>
                    <th>Fecha Nacimiento</th>
                    <th>Estado</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let jugador of jugadores">
                    <td>JUG{{zfill(jugador.jug_id, 3)}}</td>
                    <td>{{jugador.jug_nombre}}</td>
                    <td>{{jugador.jug_rut}}</td>
                    <td>{{jugador.jug_fecha_nac | date: 'dd-MM-yyyy'}}</td>
                    <td>{{jugador.jug_estado_en_club_bool ? 'Activo' : 'Inactivo'}}</td>
                    <td><a [routerLink]="['/jugadores/edit', jugador.jug_id]" class="btn btn-info btn-block fa fa-edit"></a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-12">
        <div class="col-md-3" *ngFor="let jugador of jugadores">
            <div *ngIf="!modeTable" class="card text-center">
                <a [routerLink]="['/jugadores/edit', jugador.jug_id]" class="btn btn-info btn-block fa fa-edit"></a>
                <img class="card-img-top" [src]="jugador.jug_imagen == '' ? '/assets/noimage.png' : jugador.jug_imagen" alt="" style="height: 130px;">
                <div class="card-body">
                    <h6 class="card-header">{{jugador.jug_id}}</h6>
                </div>
                <div class="card-body">
                    <h6 class="card-header">{{jugador.jug_nombre}}</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">{{jugador.jug_rut}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{jugador.jug_fecha_nac | date: 'dd-MM-yyyy'}}</li>
                </ul>
                <div class="card-footer text-muted">
                    {{jugador.jug_estado_en_club_bool ? 'Activo' : 'Inactivo'}}
                </div>
            </div>
        </div>
    </div>

</div>